
<form class="emp-form" #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="materialService.selectedMaterial.Id">
  <!--
<div class="card-container">
      <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="materialService.selectedMaterial.Name"
        placeholder="Name" required>
        <span>Имя</span>
      <div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div>

    <input class="form-control" name="Description" #Description="ngModel" [(ngModel)]="materialService.selectedMaterial.Description" placeholder="Description">
    <span>Описание</span>

    <input class="form-control" name="Price" #Price="ngModel" [(ngModel)]="materialService.selectedMaterial.Price" placeholder="Price">
    <span>Цена</span>
      <button [disabled]="!orderForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Добавить</button>

      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(orderForm)">
        <i class="fa fa-repeat"></i> Очистить</button>
</div>
-->
  </form>
  <div class="card">
      <app-material-list></app-material-list>
</div>
