
<html lang="ru">
<head>
    <p>Добро пожаловать на сайт</p>
</head>
<body>
    <div class="content" role="main" >

      <div class="card highlight-card card-big" >

            <p>Строительная компания </p>
      </div>
      <div class="card highlight-card card-big" *ngIf="userClaims">
      <span>Username :{{userClaims.UserName}}</span>
      </div>
      <div class="card-container">



        <a class="card" routerLink="/orders" >

          <span>Добавить материал</span>

        </a>
        <a class="card" routerLink="/examples" >

          <span>Примеры наших работ</span>

        </a>

        <a class="card" routerLink="/contacts" routerLinkActive="active">

          <span>Контакты</span>

        </a>

        <a class="card" routerLink="/signup" routerLinkActive="active">

          <span>Вход/Регистрация</span>

        </a>

        <a class="card" (click)="Logout()"  ng-show="[AuthGuard]">
            <span>Выйти из аккаунта</span>
        </a>
      </div>

      <router-outlet></router-outlet>
    </div>


</body>

</html>
