
<html lang="ru">
<head>
    <p>Добро пожаловать на сайт</p>
</head>
<body>
    <div class="content" role="main">

      <div class="card highlight-card card-big">

            <li><span>Строительная компания</span></li>

      </div>

      <div class="card-container">

        <a class="card" routerLink="/main">

          <span>Сделать заказ</span>

        </a>
        <a class="card" routerLink="/examples" >

          <span>Примеры наших работ</span>

        </a>

        <a class="card" routerLink="/contacts" routerLinkActive="active">

          <span>Контакты</span>

        </a>

      </div>
<router-outlet></router-outlet>
    </div>


</body>

</html>
